# True for development, False for production
DEBUG=True

DJANGO_SECRET_KEY=<STRONG_KEY_HERE>

# DB_ENGINE=mysql
# DB_HOST=localhost
# DB_NAME=name
# DB_USERNAME=username
# DB_PASS=pass
# DB_PORT=8000
DB_PASSWORD=strongpassword
