{% extends "base.html" %}
{% load static %}
{% block content %}

<h1 class="text-center">Logged Out</h1>
<br>
<br>
<div class="container">
  <div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-8">
      <h3 class="text-center">
        <a class="text-decoration-none text-reset"  href="{% url 'login' %}">Click here to login ✔️</a>
      </h3>
      <p class="text-center">
        <img class="home-image" src="{% static 'images/logout.png' %}">
      </p>
    </div>
    <div class="col-md-2"></div>
  </div>
</div>
{% endblock %}
