@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&family=Marcellus+SC&display=swap');

.sidebar-nav {
  margin-top = 30 px;
  padding: 0;
  list-style: none;
}

.fakeimg {
  height: 200px;
  background: #aaa;
}
.image-admin {
    height: 40px;
    margin-right: 10px;
}
.navbar-nav {
  display: flex;
  align-items: center;
}

.navbar-nav li:first-child {
  margin-right: auto;
}

.background-picture {
  position: relative;
}

.background-picture::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url('/static/images/header.jpeg');
  opacity: 0.6;
  z-index: -1;
  background-size: cover;
}

.new-text {
    font-family: 'Marcellus SC', serif;
    line-height: 40px;
    color: #000000;

}

.sidebar {
  position: relative;
  background-image: url('/static/images/sidebar_white.jpeg');
  background-size: cover;
}

.sidebar::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}

.navbar-nav li a {
  position: relative;
  z-index: 2;
  color: black;
}

.footer {
  background-color: #C0C0C0;
  background-size: cover;
  position: fixed;
  bottom: 0;
  width: 100%;
  padding: 10px;
}

.content  {
  background-color: #DCDCDC;
}

.home-image {
  opacity: 0.8;
  height: 500px;;

}