{% load static %}

<nav class="navbar navbar-expand-sm sidebar">
  <div class="container-fluid">
    <ul class="navbar-nav ml-auto">
        {% if user.is_authenticated %}
      <li class="nav-item">
        <a class="nav-link" href="#"><img class="image-admin" src="{% static 'images/admin_logo.png' %}"></a>
      </li>
      <li class="nav-item">
        <a class="nav-link active" href="{% url 'newspaper:redactor-detail' pk=user.id %}">
            Redactor: {{user.username}} ({{user.first_name}})</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'logout' %}">Logout</a>
      </li>
        {% endif %}

    </ul>
    <div class="ml-auto">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link me-4" href="{% url 'newspaper:index' %}">Home</a>
        </li>

        <li class="nav-item">
          <a class="nav-link me-4" href="{% url 'newspaper:topic-list' %}">Topic</a>
        </li>

        <li class="nav-item">
          <a class="nav-link me-4" href="{% url 'newspaper:redactor-list' %}">Redactor</a>
        </li>

        <li class="nav-item">
          <a class="nav-link me-2" href="{% url 'newspaper:newspaper-list' %}">Newspaper</a>
        </li>

      </ul>
    </div>
  </div>
</nav>
