<ul class="sidebar-nav">
    {% if user.is_authenticated %}
        <li>Redactor: {{user.username}} ({{user.first_name}})</li>
        <li><a href="{% url 'logout' %}">Logout</a></li>
    {% else %}
        <li><a href="{% url 'login' %}">Login</a></li>
    {% endif %}
    <br>
    <li><a href="{% url 'newspaper:index' %}">Home page</a></li>
    <li><a href="{% url 'newspaper:topic-list' %}">Topic</a></li>
    <li><a href="{% url 'newspaper:redactor-list' %}">Redactor</a></li>
    <li><a href="{% url 'newspaper:newspaper-list' %}">Newspaper</a></li>
</ul>
