{% extends "base.html" %}
{% load static %}
{% block content %}
<div class="container">
  <div class="row">
    <div class="col-md-5">
      <img class="home-image" src="{% static 'images/typewriter.png' %}">
    </div>
    <div class="col-md-7">
      <h1 class="text-center">Newspaper Agency Home</h1>
      <h4 class="text-center">Welcome to Newspaper agency</h4>
      <hr>
      <h3 class="text-center">Newspaper agency content</h3>
      <h6 class="text-center">In our agency we have:</h6>
      <br>
        <div class="row">
          <div class="col-md-4">
            <h4 class="text-center">TOPIC</h4>
            <h1 class="text-center">{{ count_topic }}</h1>
          </div>
          <div class="col-md-4">
            <h4 class="text-center">REDACTOR</h4>
            <h1 class="text-center">{{ count_redactor }}</h1>
          </div>
          <div class="col-md-4">
            <h4 class="text-center">Newspaper</h4>
            <h1 class="text-center">{{ count_newspaper }}</h1>
          </div>
        </div>
      <hr>
      <p>Welcome to the premier online destination for breaking news, investigative journalism,
        and compelling stories from around the world. Our newspaper agency site delivers the latest
        and most relevant news stories to your fingertips, keeping you informed and up-to-date
        on the issues that matter most.</p><p>With our team of experienced journalists and editors,
        we strive to provide the most accurate and objective reporting possible,
        delivering the news with integrity and professionalism.
        From politics and business to science and technology, our coverage spans the full
        spectrum of topics and provides insight into the events and trends shaping our world.</p>
        <p>In addition to our news coverage, our site features in-depth analysis, opinion pieces,
        and thought-provoking commentary from some of the brightest minds in journalism.
        Whether you're looking to stay informed on the latest headlines or
        dive deeper into the issues that matter to you, our newspaper agency site has
        everything you need to stay engaged and informed.</p>
      <hr>
        <p>You have visited this page <strong>{{ num_visit }}</strong> time{{ num_visit|pluralize }}</p>
    </div>
  </div>
</div>
{% endblock %}
