{% extends "base.html" %}

{% block content %}
  <div class="container">

      <h2 class="text-center text-capitalize">newspaper detail page</h2>
      <hr>
      <h5 class="text-center">Here you can see more detailed information about the newspaper</h5>
      <br>
    <div class="row">
      <div class="col-md-4">
        <dl class="dl-horizontal">

          <dt class="text-muted">ID:</dt>
          <dd class="text-muted"> {{ newspaper_detail.id}}</dd>

          <dt>Title:</dt>
          <dd> {{ newspaper_detail.title }}</dd>

          <dt>Published date:</dt>
          <dd> {{ newspaper_detail.published_date }}</dd>

          <dt>Publishers:</dt>
          {% for publisher in newspaper_detail.publishers.all %}
            <dd> {{ publisher.first_name}} {{ publisher.last_name }} ({{ publisher.username }})</dd>
          {% empty %}
            <dd class="text-danger"> No information about publishers</dd>
          {% endfor %}

          <dt>Topic:</dt>
            {% if newspaper_detail.topic %}
              <dd> {{ newspaper_detail.topic }}</dd>
            {% else %}
              <dd class="text-danger"> No information about topic</dd>
            {% endif %}
          </dl>
        <hr>
        <a class="btn btn-secondary" href="{% url 'newspaper:newspaper-update' pk=newspaper_detail.id %}"><strong>Update</strong></a>
        <a class="btn btn-danger" href="{% url 'newspaper:newspaper-delete' pk=newspaper_detail.id %}"><strong>Delete</strong></a>
      </div>
      <div class="col-md-8">
      <h4><strong>Content</strong></h4>
        <p>{{ newspaper_detail.content }}</p>
      </div>
    </div>
  </div>
{% endblock %}
