{% extends "base.html" %}

{% block content %}
  <h1>Redactors List</h1>
  <br>
  {% for redactor in redactor_list %}
      <ul>
        <li><a href="{% url 'newspaper:redactor-detail' pk=redactor.id %}">{{ redactor.username }} </a>
          ({{ redactor.first_name }} {{ redactor.last_name }})</li>
        <hr>
      </ul>
  {% empty %}
    <p>There are no redactors now</p>
  {% endfor %}
  <p><a href="{% url 'newspaper:redactor-create' %}">Create new <strong>redactor</strong></a> </p>
{% endblock %}
