{% extends "base.html" %}
{% load static %}
{% block content %}

<div class="container">
    <div class="row">
      <div class="col-md-5">
        <br>
  {% if redactor_list %}
  {% block search_form %}
    {% include "includes/search_form.html" %}
  {% endblock %}
 <img class="home-image" src="{% static 'images/redactor.png' %}">
      </div>
      <div class="col-md-7">
        <h1 class="text-center">Redactors List</h1>
          <p><a class="btn btn-secondary" href="{% url 'newspaper:redactor-create' %}">Create new <strong>redactor</strong></a> </p>
    <table class="table">
      <tr>
        <th>Id</th>
        <th>Username</th>
        <th>First name</th>
        <th>Last name</th>
        <th>Detail</th>
      </tr>
    {% for redactor in redactor_list %}
        <tr>
          <td>{{ redactor.id }}</td>
          <td>{{ redactor.username }}</td>
          <td>{{ redactor.first_name }}</td>
          <td>{{ redactor.last_name }}</td>
          <td><a class="text-info" href="{% url 'newspaper:redactor-detail' pk=redactor.id %}">DETAIL</a></td>
        </tr>

    {% endfor %}
    </table>
        {% block pagination %}
          {% include "includes/pagination.html" %}
        {% endblock %}
    {% else %}
      <p>There are no <strong>redactors</strong> now, but you can create new redactor</p>
      <p><a class="btn btn-secondary" href="{% url 'newspaper:redactor-create' %}">Create new <strong>redactor</strong></a> </p>
      <img class="home-image" src="{% static 'images/redactor.png' %}">
  {% endif %}
      </div>
    </div>
</div>
{% endblock %}
