{% extends "base.html" %}
{% load crispy_forms_filters %}
{% load static %}
{% block content %}

<h1 class="text-center">{{ object|yesno:"Update, Create new" }} Topic</h1>
<div class="container">
  <div class="row">
    <div class="col-md-6">
      <br>
      <br>
      <br>
      <br>
      <form action="" method="post" novalidate>
        {% csrf_token %}
        {{ form|crispy }}
        <input class="btn btn-primary" type="button" value="{{ object|yesno:'Update, Create' }}">
      </form>
      </div>
    <div class="col-md-6">
      <img class="home-image" src="{% static 'images/create.png' %}">
    </div>

  </div>
</div>
{% endblock %}
